<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Form</h1>
    <form
      action="http://localhost:3001/characters"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="image" />
      <input type="text" name="name" />
      <input type="number" name="age" />
      <input type="number" name="weight" />
      <input type="text" name="history" />
      <input type="submit" />
    </form>
  </body>
</html>
